.testimonials__container {
  /* display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.testimonials__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.testimonials__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.testimonials__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.testimonials__card h5 {
  font-size: 0.95rem;
}

.testimonials__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.testimonials__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  #testimonials {
    margin-bottom: 10rem;
    margin-top: 50rem;
  }

  .testimonials__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .testimonials__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .testimonials__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 700px) {
  #testimonials {
    margin-bottom: 10rem;
    margin-top: 50rem;
  }

  .testimonials__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__content {
    text-align: center;
  }

  .testimonials__content p {
    margin: 1.5rem 0;
  }
}
